<PageTitle>Inicio</PageTitle>
<style>
    .presentation {
        padding: 4rem 0;
        background-color: #f8f9fa;
        color: #333;
    }

        .presentation h1 {
            font-family: 'Open Sans', sans-serif;
            color: #007bff; 
        }

        .presentation p {
            font-family: 'Open Sans', sans-serif;
            color: #6c757d; 
        }

        .presentation .btn-primary {
            background-color: black;
            border-color: black;
        }

            .presentation .btn-primary:hover {
                background-color: orange;
                border-color: #004085;
                color:black
            }
</style>
<section class="presentation">
    <div class="container text-center">
        <h4 class="display-5">Servicios Especializados: Encuentra Todo lo que Necesitas </h4>
        <h5 class="lead">Bienvenidos a nuestra plataforma de servicios, donde la excelencia y la profesionalidad son nuestra prioridad. Aquí encontrarás una amplia gama de servicios especializados para cubrir todas tus necesidades. Desde carpintería hasta instalaciones eléctricas, cada sección está diseñada para ofrecerte soluciones efectivas y de alta calidad. Descubre cómo nuestros expertos pueden ayudarte a realizar tus proyectos de manera eficiente y con los mejores resultados. ¡Explora nuestros servicios y encuentra la solución perfecta para ti!</h5>
        <br />
        <a class="btn btn-primary btn-lg" href="/serviciosdestacados" role="button">Explora Nuestros Servicios</a>
        <br /><br />
    </div>
</section>

@code {

}
