@page "/carpinteriaSection"
<i class="bi bi-hammer"></i>
<div>
    <h5>Transformamos Espacios: Tu Visión, Nuestra Realidad</h5>
    <p>¿Estás buscando convertir tus sueños en realidad? En nuestro servicio de construcción y acabados, nos dedicamos a hacer precisamente eso. Desde la planificación hasta la ejecución, estamos comprometidos con la excelencia en cada detalle. </p>
</div>
<section class="container my-5">
    <h2 class="text-center mb-4">Carpinteria</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card product-card">
                <img src="https://i.imgur.com/frr5PvB.jpeg" class="card-img-top" alt="Carpinteria" />

                <div class="card-body">
                    <h5 class="card-title">Servicios de Construccion de Ambientes</h5>
                    <p class="card-text">Expertos en la acabados</p>
                    <a hrf="#" class="btn btn-primary">Solicitar Ahora</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card product-card">
                <img src="https://i.imgur.com/E3sOVKo.jpeg" class="card-img-top" alt="Producto 3">
                <div class="card-body">
                    <h5 class="card-title">Servicios de Construccion de Ambientes</h5>
                    <p class="card-text">Expertos en la acabados</p>
                    <a href="#" class="btn btn-primary">Solicitar Ahora</a>
                </div>
            </div>
        </div>
        


    </div>
</section>
