@page "/construccionSection"

<div class="service-item">
    <i class="bi bi-hammer"></i>
    <div>
        <h5>Instalación de Muebles</h5>
        <p>Ofrecemos instalación profesional de muebles para asegurar que cada pieza quede perfectamente montada y funcional en tu espacio.</p>
    </div>
</div>

@code {

}
