@page "/humosSection"
<div class="service-item">
    <i class="bi bi-cloud-sun"></i>
    <div>
        <h5>Sistemas de Detección de Humo</h5>
        <p>Instalamos sistemas de detección de humo avanzados para garantizar la seguridad en tu hogar o empresa.</p>
    </div>
</div>

@code {

}
