@page "/driwallSection"
<div class="service-item">
    <i class="bi bi-bricks"></i>
    <div>
        <h5>Driwall y Cielo Raso</h5>
        <p>Ofrecemos soluciones completas para la instalación de driwall y cielos rasos, proporcionando acabados de alta calidad y durabilidad para tus espacios interiores.</p>
    </div>
</div>

@code {

}
