@page "/impermeabilizacionSection"
<div class="service-item">
    <i class="bi bi-droplet"></i>
    <div>
        <h5>Impermeabilización de Techos</h5>
        <p>Protege tu techo de filtraciones y daños con nuestros servicios de impermeabilización profesional.</p>
    </div>
</div>

@code {

}
