@page "/electricidadSection"
<div class="service-item">
    <i class="bi bi-lightning-fill"></i>
    <div>
        <h5>Instalación Eléctrica y Luminaria</h5>
        <p>Servicios completos de instalación eléctrica y luminaria para asegurar que tu espacio esté bien iluminado y seguro.</p>
    </div>
</div>

@code {
    


}
