@page "/pinturasSection"
<div class="service-item">
    <i class="bi bi-paint-bucket"></i>
    <div>
        <h5>Pintura y Acabados</h5>
        <p>Ofrecemos servicios de pintura y acabados para darle a tus paredes y superficies un aspecto fresco y atractivo.</p>
    </div>
</div>

@code {

}
