@page "/pisosSection"
<div class="service-item">
    <i class="bi bi-bricks"></i>
    <div>
        <h5>Enchape de Pisos y Mayólicas</h5>
        <p>Realizamos el enchape de pisos y mayólicas con materiales de alta calidad para darle a tus espacios un acabado perfecto.</p>
    </div>
</div>

@code {

}
