<section class="container my-5">
    <h2 class="text-center mb-4">Productos Destacados</h2>
    <div class="row">
        <!-- Product Card 1 -->
        <div class="col-md-4">
            <div class="card product-card">
                <img src="https://i.imgur.com/PKfMP0W.jpg" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h5 class="card-title">Producto 1</h5>
                    <p class="card-text">Descripción breve del producto.</p>
                    <a href="#" class="btn btn-primary">Comprar Ahora</a>
                </div>
            </div>
        </div>
        <!-- Product Card 2 -->
        <div class="col-md-4">
            <div class="card product-card">
                <img src="https://i.imgur.com/PKfMP0W.jpg" class="card-img-top" alt="Producto 2">
                <div class="card-body">
                    <h5 class="card-title">Producto 2</h5>
                    <p class="card-text">Descripción breve del producto.</p>
                    <a href="#" class="btn btn-primary">Comprar Ahora</a>
                </div>
            </div>
        </div>

        <!-- Product Card 3 -->
        <div class="col-md-4">
            <div class="card product-card">
                <img src="https://i.imgur.com/PKfMP0W.jpg" class="card-img-top" alt="Producto 3">
                <div class="card-body">
                    <h5 class="card-title">Producto 3</h5>
                    <p class="card-text">Descripción breve del producto.</p>
                    <a href="#" class="btn btn-primary">Comprar Ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>
