@page "/higenicosSection"
<div class="service-item">
    <i class="bi bi-box-seam"></i>
    <div>
        <h5>Implementación de Servicios Higiénicos</h5>
        <p>Instalamos y mantenemos sistemas higiénicos para asegurar que tu espacio cumpla con los estándares de limpieza y funcionalidad.</p>
    </div>
</div>

@code {

}
