@page "/soldaduraSection"
<div class="service-item">
    <i class="bi bi-wrench"></i>
    <div>
        <h5>Soldadura y Estructuras Metálicas</h5>
        <p>Servicios especializados en soldadura y construcción de estructuras metálicas para proyectos de gran escala.</p>
    </div>
</div>

@code {

}
